<div class="container">
  <h1>Mi Trazador de Rutas con OSRM</h1>

  <!-- Panel informativo -->
  <div class="info-panel" style="margin-bottom: 10px; padding: 10px; background: #f0f0f0;">
    <p><strong>Distancia total: {{ distancia() }}</strong> </p>
    <p><strong>Tiempo estimado: {{ tiempo() }}</strong></p>
  </div>
  
  <!-- Cambia #map por #mapContainer -->
<div #mapContainer id="map" style="height: 500px; width: 100%; border: 1px solid #ccc;"></div>


  <p>Angular 19 + Leaflet + OSRM</p>
</div>

<router-outlet />
