@import "leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css";
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-routing-machine/dist/leaflet-routing-machine.css';
@import 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css';

#map {
  height: 500px;
  width: 100%;
  display: block; /* Asegura que el contenedor sea visible */
}

.info-panel {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 1px solid #ddd !important;
}

.info-panel p {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}
